<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome To Website <%= @user.username %></h1>
    <h2>Email: <%= @user.email %> </h2>
  </body>
</html>